body{
    background-image: url('Background.png');
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0px;
  overflow: hidden;
  border: 1px solid gray;
}

li {
  float: right;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: red;
}
 .active{
  background-color: rgb(36, 34, 81);
 }

h1{
      text-align: center;
     font-family: 'Orbitron', sans-serif; 
      font-size: 2rem;
      color: #0ff;
      text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
      
}
div{
    width: 1530px;
    height: 1500px;
    position: relative;
    top: 270px;
    right: 20px;
    background-color: rgb(179, 206, 255);
    display: flex;
    
}


#bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: arial;
    text-align: center; 
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
}

#PC{
width: 241px;
height: 359px;
border: 1px solid gray;
position:relative;
top: 60px;
left: 75px;
}

#Network{
    width: 241px;
    height: 359px;
    border: 1px solid gray;
    top: 60px;
    left: 370px;
    
}

#cyber{
  width: 241px;
    height: 359px;
    border: 1px solid gray;
    top: 60px;
    left: 720px;
}



#T1 {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    margin: 0;
  
}

#cables{
width: 1530px;
height: 300px;
top:80px;
/* take the color out before final submition*/
background-color: #0ff;

}
/* CSS for about.html*/
#back{
    width: 1530px;
    height: 800px;
    position: relative;
    top: 270px;
    right: 20px;
    background-color: rgb(179, 206, 255);
    display: flex;
    
}

#about{
width: 300px;
height: 120px;
position:relative;
top: 100px;
left: 100px;
}

#about2{
width: 300px;
height: 180px;
position:relative;
top: 100px;
left: 300px;
}

#about3{
width: 300px;
height: 220px;
position:relative;
top: 100px;
left: 500px;
}

