body{
     background-image: url('Background.png');
     background-repeat: no-repeat; 
     background-size: cover; 
     background-position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0px;
  overflow: hidden;
  border: 1px solid gray;
}

li {
  float: right;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: red;
}
 .active{
  background-color: rgb(36, 34, 81);
 }


/*CSS for index.html*/

#PC{
width: 12.8%;
height: 23.8%;
border: 1px solid gray;
position:relative;
top: 10%;
left: 3%;
}

#Network{
    width: 15.7%;
    height: 23.8%;
    border: 1px solid gray;
    top: 10%;
    left: 24%;
    
}

#cyber{
  width: 15.7%;
    height: 23.8%;
    border: 1px solid gray;
    top: 10%;
    left: 42%;
}

#hours{
  width: 15.7%;
    height: 10.8%;
    top: 40%;
    right: 7.5%;
}



/*CSS for order.html*/

/* CSS for about.html*/
#back{
    width: 102%;
    height: 120%;
    position: relative;
    top: 180px;
    right: 20px;
    background-color: rgb(179, 206, 255);
    display: flex;
    
    
}

#about{
width: 17%;
height: 16%;
position:relative;
top: 13%;
left: 7%;
}

#about2{
width: 19%;
height: 22%;
position:relative;
top: 13%;
left: 20%;
}

#about3{
width: 19%;
height: 27%;
position:relative;
top: 13%;
left: 32%;
}
/*CSS for Service.html*/

#cables{
position: relative;
width: 80%;
height: 30%;
left: 32%;
top:5%;
}

#computers{
  position: relative;
  width: 80%;
  height: 30%;
  top:20%;
  right: 1%;
}

#Security{
position: relative;
  width: 80%;
  height: 30%;
  top:40%;
  right: 33%;
}

/*CSS for Source.html*/

table, th, td {
  border: 1px solid;
margin: 0 auto;
width: 40%;
height: 20%;
}

/*Universal (More than one html page)*/
h1{
      text-align: center;
     font-family: 'Orbitron', sans-serif; 
      font-size: 2rem;
      color: #0ff;
      text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
      
}


#T1 {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    margin: 0;
  
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: arial;
    text-align: center; 
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
}

div{
    width: 102%;
    height: 180%;
    position: relative;
    top: 20%;
    background-color: rgb(179, 206, 255);
    display: flex;
    
}
